#bg-img {
  opacity: 0.2;
  position:fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

h1 {
  margin: 40px 30px 20px 30px;
}

h3 {
  margin: 30px;
  font-weight: 100;
}

#images-container {
  display: flex;
  justify-content: space-around;
}

#img1, #img2, #img3 {
  border: solid yellow;
}

p {
  margin: auto;
  text-align: center;
}

#chart-container {
  width: 70%;
  position: absolute;
  margin: 0 10% 0 15%;
}

#buttons-box {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}

#show-results {
  width: 200px;
  height: 80px;
  background-color: orange;
  border: 3px yellow solid;
  font-size: 20px;
  transition: .3s;
}