h1 {
  margin: 40px 30px 20px 30px;
}

h3 {
  margin: 30px;
  font-weight: 100;
}

#images-container {
  display: flex;
  justify-content: space-around;
}

#img1, #img2, #img3 {
  border: solid yellow;
}

p {
  margin: auto;
  text-align: center;
}